<h1> add post </h1>

<%= form_for :post, url: posts_path do |f| %>
<p>
	<%= f.label :title %><br>
	<%= f.text_field :title %>
</p>
<%= f.submit %>
<% end %> 

<%= @my_title %> 
<p> example of using an object, class </p>
<%= @x %> 